body {
  font-weight: 500;
  color: #000; 
  font-family: 'Montserrat', sans-serif; 

  & * {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(207, 160, 92, 0.5);
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 3px;
    }
  }
}

a {
  text-decoration: none;
  color: $main-color;
  transition: color 0.2s ease;
  cursor: pointer;
  outline: none !important;

  &:hover {
    transition: color 0.2s ease;
  }

  &:active,
  &:focus,
  &:visited {
    // color: $main-color;
    transition: color 0.3 ease;
  }
}

h1{
  font-size: 75px;
  color: $white;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
}

h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.2; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.header,
.footer {
  flex-shrink: 1;
  width: 100%;
}

.main {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

input {
  background: rgb(158, 156, 158);
  opacity: 1;
  border-radius: 5px;
  width: 175px;
  padding: 7.5px 8px;
  border: 1px solid transparent;
  outline: none;

  &[type="submit"] {
    opacity: 1;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }

  &[type="text"] {
    margin: 10px auto;
    height: 35px;
    // max-width: 420px;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;

    @media (min-width:$tablet) {
      height: 50px;
    }
  }

  &[type="email"] {
    margin: 10px auto;
    height: 35px;   
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;

    @media (min-width:$tablet) {
      height: 50px;
    }
  }

  &:visited,
  &:active,
  &:hover,
  &:focus {
    background: $white;
    opacity: 1;
  }
}

.wrapper {
}

.icon-header {
  width: 12px;
  height: 12px;
  fill: $main-color;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  fill: $white;
}

.icon-tabs {
  width: 2em;
  height: 2em;
  fill: $main-color;
}

.icon-big {
  max-width: 120px;
  fill: $main-color;
}

.span-blue{
  color: $main-color;
}

.blue-btn{
  background-color:$main-color;
  color: $white;
  padding: 10px 20px;
}

.title-with-line{
  color: #4a4a4a;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;

  &:after{
    content: "";
    display: block;
    margin: 20px auto 0;
    width: 40px;
    height: 1px;
    border-radius: 2px;
    background-color: #4152a0;
  }
}

.blue-long-btn{
    border: 2px solid #4152a0;   
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    max-width: 420px;
    text-align: center;

    &:hover{
      box-shadow: 0px 0px 27px -4px #000000;
      transition: box-shadow 0.3s ease;
  }
}


.search-section-form {
  .wpcf7-validation-errors,
  .wpcf7-not-valid-tip{
    display: none!important;
  }


  .wpcf7-form.invalid{
    .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{
      border: 1px solid red;
    }
  }
}

.page-info{
  padding-top: 100px;
}