.footer{
    background-color: #444;
    padding: 50px 0;

    .footer-top{
        display: flex;
        justify-content: space-around;
        max-width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;

        .footer-list{    
            padding-bottom: 40px;  
            display: flex;
            flex-direction: column;
            align-items: center;            

            .footer-list-main{
                color: #ececec;
                text-transform: uppercase;
                font-weight: 700;
                margin: 30px 0 0 0;                       
                width: 100%;    
                display: block;    
                border-bottom: 1px solid rgba(197, 197, 197, 0.1);  
                padding-bottom: 40px;
                text-align: center;

                @media(min-width: $desktop) {
                    text-align: initial;
                    margin: 0 0 60px 0;
                }
            }

            .footer-list-links{                
                color: #ececec;   
                padding-left: 15px; 
                text-align: center;           
                li{
                    margin: 15px 0;

                    a{
                        color: #ececec;
                        display: inline-block;

                        &:hover{                          
                            color: $main-color;                            
                        }
                    }                   
                }
                @media(min-width: $desktop) {
                    text-align: initial;
                    list-style: disc;
                }
            }  
            @media(min-width: $desktop) {
                display: initial;
            }        
        }
        @media(min-width: $desktop) {
            flex-direction: row;
            align-items: initial;
        }
    }

    .footer-bottom{
        border-top: 1px solid rgba(197, 197, 197, 0.1);     
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        p{
            color: #c5c5c5;
            font-size: 12px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            text-align: center;

            @media (min-width: $desktop) {
                margin-bottom: 0;
            }
        }

        .footer-logo{
            max-width: 200px;                        
            width: 100%;            
            padding: 5px;          
        }
        
        @media (min-width: $desktop) {
            flex-direction: row;
            align-items: initial;
        }
    }
    .popup {
        display: inline-block;
        vertical-align: middle;
        max-width: 570px;
        width: 100%;
        position: relative;
        z-index: 100;
        background-color: white;
        padding: 40px 20px; }
        .popup__overlay {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.8);
          text-align: center;
          z-index: 9999999;
          opacity: 0;
          visibility: hidden;
          transform: scale(1.5);
          transition: 0.5s; }
          .popup__overlay:after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle; }
        .popup_open {
          transform: scale(1);
          opacity: 1;
          visibility: visible;
          overflow: auto;
          overflow-x: hidden; }
        .popup-inner {
          position: relative;
          padding: 20px;
          background: #f9f9f9; }
        .popup__close {
          display: block;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0; }
          .popup__close span {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            right: 15px;
            cursor: pointer;
            transition: all 200ms ease-out;
            z-index: 101; }
            .popup__close span:after, .popup__close span:before {
              content: "";
              display: block;
              position: absolute;
              width: 20px;
              height: 2px;
              top: 50%;
              left: 0;
              margin-top: -1px;
              background: #fff; }
            .popup__close span:after {
              transform: rotate(45deg); }
            .popup__close span:before {
              transform: rotate(-45deg); }
        .popup__close {
          display: block;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0; }
        .popup_text_top {
          padding: 0 20px 30px; }
        .popup h1 {
          font-family: "Montserrat", sans-serif;
          font-size: 26px;
          color: #232323;
          max-width: 75%;
          margin: auto;
          margin-bottom: 30px; }
        .popup form {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .popup form #textArea-connect {
            margin: 20px auto;
            height: 120px;
            min-height: 120px;
            max-width: 420px;
            padding: 15px;
            width: 100%;
            border-radius: 0;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: transparent;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 15px; }
          .popup form button {
            margin: 10px auto;
            height: 50px;
            max-width: 420px;
            width: 100%;
            border-radius: 25px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            color: rgba(0, 0, 0, 0.5);
            background: transparent;
            padding-left: 0px;
            padding-right: 0px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 15px;
            transition: border 0.3s ease, color 0.3s ease; }
            .popup form button:hover {
              cursor: pointer;
              border: 2px solid rgba(0, 0, 0, 0.3);
              color: rgba(0, 0, 0, 0.6);
              transition: border 0.3s ease, color 0.3s ease; }

        .wpcf7-form{
            padding: 30px;


        p{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &:nth-child(2){                      

                
                .wpcf7-form-control-wrap{
                    width: 100%;

                    &.tel-661{
                        width: 100%;
                        display: flex;
                        align-items: center;

                        input{
                            width: 100%;
                            background: transparent;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            border-radius: 0;
                            height: 50px;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 500;
                            padding-left: 0;
                            font-size: 15px;
                        }       
                        
                        @media(min-width: $desktop) {
                            width: 49%;
                        }
                    }

                    &:last-child{
                        width: 100%;
                        display: flex;
                        align-items: center;

                        @media(min-width: $desktop) {
                            width: 49%;
                        }
                    }
                }
            }     

            &:nth-child(3) {

                .wpcf7-list-item{
                    margin: 0;
                

                label{
                    display: flex;
                    
                    input{
                        width: 55px;
                        height: 30px;
                        margin-right: 30px;
                    }

                    .wpcf7-list-item-label{
                        font-size: 12px;
                    }
                }
            }
        }

            &:nth-child(4) {
                position: relative;

                .wpcf7-list-item{
                    margin: 0;
                

                label{
                    display: flex;
                    
                    input{
                        width: 45px;
                        height: 30px;
                        margin-right: 30px;
                    }

                    .wpcf7-list-item-label{
                        font-size: 12px;
                    }
                }
            }

                .wpcf7-submit{
                    background:#4152a0;   
                    border-radius: 0;
                    color: #fff;
                    padding: 10px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 50px auto 0;
                    transition: box-shadow 0.3s ease;
                    max-width: 420px;
                    text-align: center;
                    text-transform: uppercase;
                    border: 2px solid $white;
                    transition: 0.3s ease;

                    &:hover{
                        color: $main-color;
                        border: 2px solid $main-color;
                        background: $white;
                        transition: 0.3s ease;
                    }
                }

                .ajax-loader{
                    position: absolute;
                    bottom: -30px;
                    right: 48%;                          
                }
            }
        }
    }
}